<div id="e{{id}}" class="row">
    <div class="col-sm-2 col-lg-1 col-lg-offset-4 col">
        <button class="btn btn-default">
            <span>E{{id}}</span>
        </button>
    </div>
    <div class="col-sm-2 col-lg-1 col">
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#effect-config-{{id}}" aria-expanded="false" aria-controls="effect-config-{{id}}">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-sm-8 col-lg-2 col">
        <button class="btn btn-success" type="submit">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        </button>
    </div>
</div>
<div class="collapse row" id="effect-config-{{id}}">
    <div class="col-lg-4 col-lg-offset-4 col">
        <input
                type="text"
                name="somename"
                data-provide="slider"
                data-slider-min="1"
                data-slider-max="2000"
                data-slider-step="1"
                data-slider-value="1000"
                data-slider-tooltip="hide"
        >
    </div>
</div>